*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    font-family: sans-serif;
}
.container
{
    background-image: url("img.png");
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content:center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items:center ;
    
}
.box
{
   width: 400px;
   height:440px;
    background-color: rgba(170, 175, 223, 0.244);
    border-radius: 8px;
    border: none;
    border-bottom: 8px;

    /* box-shadow: 20px 2px 25px red; */
    
}
.signup-header
{
    position: relative;
    margin-top: 10px;
    text-align: center;
    padding: 2px 5px;
    
}
.signup-body div label
{
    font-weight: 800px;
    font-size: 20px;
    
}
.signup-body div input
{
    width: 100%;
    padding: 7px;
    border-radius: 4px;
    font-size: 19px;
    margin-block: 4px;
  border: none;
  outline: none;
   
}
.signup-body div input[type="submit"]
{
    border: none;
    background-color: rgb(27, 15, 26);
    font-size: 23px;
    font-weight: 300px;
    margin-block: 20px;
    cursor: pointer;
    color:white;
    opacity: 100%;


}
.end
{
    text-align: center;
    color: white;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 320px;

}
a{
    color: white;
}



